<header>
    <section id="name-block">
        <h2><b>Chat Room</b></h2>
    </section>
    <section id="link-block">
        <a href="/login">Log in</a>
        <a href="/signup">Sign up</a>
    </section>
</header>